<li>
  <div class="heavy-hitter">
    <a class="avatar" href="https://github.com/{{userOrTeam repo}}" target="_top">
      <img src="https://avatars.githubusercontent.com/{{userOrTeam repo}}?size=30">
    </a>
    <div class="repo-name">
      <a href="https://github.com/{{repo}}" target="_top">{{repo}}</a>
    </div>
    <p class="stargazer"><strong>{{stargazersCount}}</strong> Stargazers</p>
  </div>
</li>
