<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community | {{ name }}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/report-card.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="backstretch">
      <h1>Community | {{ name }}</h1>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>Open Sourcerers</span></h4>
        <p>
          {{name}} has {{members.length}} active contributors to open source.
          They spend a lot of time {{topActivity}} and {{secondTopActivity}}.
          {{ name }} employees are serious open source contributors who do a bunch in the morning and evening.

          We're pretty geeked about that! Here they are:
        </p>

        {{#each members}}
          <span data-tooltip class="has-tip tip-top" title="{{name}}">
            <a href="http://github.com/{{name}}">
              <img src="{{avatar name 45}}" height="45" width="45">
            </a>
          </span>
        {{/each}}
      <div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>The Heavy Hitters</span></h4>

        {{#each usage.topLanguages}}
          <p>
            {{../name}} has
            {{inflectCountable length}}
            serious {{languageToPerson language length}}
            ({{who.length}}
            of the {{ceilingPercent who}}% most active {{language}} users:
            {{#each who}}<a href="http://osrc.dfm.io/{{username}}">{{username}}</a>{{/each}}).
          </p>
        {{/each}}

        <h4><span>Collaboration</span></h4>
        <p>
          {{name}} engineers often collaborate with people outside {{name}},
          the most frequent {{connected_users.length}} collaborators are:
          <div>
            {{#each connected_users}}
              <span data-tooltip class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
         </div>
        </p>

        <h4><span>Let's be friends</span></h4>
        <p>
          Although they don't currently work at {{ name }},
          it looks like the following {{similar_users.length}} people are very simlar to {{name}} engineers.
          We think they'd feel right at home here:
          <div>
            {{#each similar_users}}
              <span data-tooltip class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
          </div>
        </p>

        <h4><span>Projects</span></h4>
        <p>
          These days, {{ name }} engineers are most actively contributing to the following {{repositories.length}} repositories:
          {{#each repositories}}
            <div class="github-card" data-github={{repo}} data-width="400" data-height="50"></div>
          {{/each}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>By the numbers</span></h4>
        <p>
        We already know that {{ name }} engineers love {{secondTopActivity}} whenever they're not {{topActivity}} but the following data sheds some light onto what they do with their open source time. In the full event stream analyzed for this report, there are a total of {{sumEvents usage.events}} events recorded for {{ name }}, divided by type below:
        </p>

        <table>
          <thead>
            <tr><th>Activitiy</th><th>count</th></tr>
          </thead>
          <tbody>
            {{#each usage.events}}
              {{#if total}}
                <tr>
                  <td>{{eventTypeToName type}}</td>
                  <td>{{total}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>

        <h4><span>Languages</span></h4>
        <p>
        {{ name }} engineers have contributed to repositories in {{usage.allLanguages.length}} languages. In particular, they seems to be pretty serious {{topLanguage}} experts. The following chart shows the number of contributions {{ name }} engineers made to repositories mainly written in {{{top5Languages usage.allLanguages}}}.
        </p>

        <div id="d3-language-diagram-outlet"></div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>A helping hand</span></h4>
        <p>Stack</p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        handcrafted with <span class="heart">&#x2764;</span> by trek, aaron, sean, and ashish.
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.tooltip.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
