<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Source Report Card | {{ name }}</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Open Source Report Card for {{ name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-1 columns">
        <img alt={{ name }} class="avatar js-avatar" height="100" width="100" src="{{avatar name 100}}">
      </div>

      <div class="large-11 columns">
        <h2>{{ name }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {{#each usage.languages}}
          <p>
            {{../name}} has
            {{inflectCountable top25percent.length}}
            serious {{languageToPerson language top25percent.length}}
            ({{top25percent.length}}
            of the {{ceilingPercent top25percent}}% most active {{language}} users:
            {{#each top25percent}}
              <a href="http://osrc.dfm.io/{{username}}">{{username}}</a>
            {{/each}}
            ).
          </p>
        {{/each}}

        <p>
          They spend a lot of time commenting on issues between pushes.
          {{ name }} employees are casual open source contributors who do a bunch in the morning and evening.
        </p>

        <p>
          {{name}} engineers often collaborate with people outside {{name}}, the most frequnent collaborators are:
          <div>
            {{#each connected_users}}
              <span data-tooltip class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
         </div>
        </p>
        <p>
          Although they don't currently work at {{ name }}, it looks like the following people would feel right at home there:
          <div>
            {{#each similar_users}}
              <span data-tooltip class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
          </div>
        </p>

        <p>
          These days, {{ name }} engineers are most actively contributing to the following {{repositories.length}} repositories:
          {{#each repositories}}
            <div class="github-card" data-github={{repo}} data-width="400" data-height="50"></div>
          {{/each}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h3>Statistics</h3>
        <p>
        We already know that {{ name }} engineers love {{secondTopActivity}} whenever they're not {{topActivity}} but the following data sheds some light onto what they do with their open source time. In the full event stream analyzed for this report, there are a total of {{sumEvents usage.events}} events recorded for {{ name }}, divided by type below:
        </p>

        <table>
          <thead>
            <tr><th>Activitiy</th><th>count</th></tr>
          </thead>
          <tbody>
            {{#each usage.events}}
              {{#if total}}
                <tr>
                  <td>{{eventTypeToName type}}</td>
                  <td>{{total}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>

        <h3>Languages</h3>
        <p>
        {{ name }} engineers have contributed to repositories in {{usage.languages.length}} languages. In particular, they seems to be pretty serious {{topLanguage}} experts. The following chart shows the number of contributions {{ name }} engineers made to repositories mainly written in JavaScript, Ruby, CSS, Shell, and Clojure.
        </p>

        <div id="d3-language-diagram-outlet"></div>
      </div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.tooltip.js"></script>
    <script src="http://lab.lepture.com/github-cards/widget.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
