<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Open Source Report Card | {{ name }}</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>Open Source Report Card for {{ name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-1 columns">
        <img alt={{ name }} class="avatar js-avatar" data-user="206233" height="100" itemprop="image" src={{ avatar_url }} width="100">
      </div>

      <div class="large-11 columns">
        <h2>{{ name }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        {{languages}}
        WTF
        {{#each languages}}
        <p>
        {{../name}} has some serious {{languageToPerson language top25percent.length}} (one of the 7% most active JavaScript users). They spend a lot of time commenting on issues between pushes. {{ name }} employees are casual open source contributors who do a bunch in the morning and evening.
        </p>
        {{/each}}

        <p>
          Although they don't currently work at {{ name }}, it looks like the following people would feel right at home: Alex Matchneer,  jdan, Robert Kowalski, joliss, and basarat.
        </p>

        <p>
          These days, {{ name }} engineers are most actively contributing to the following repositories: emberjs/ember.js, trek/ember.js, emberjs/website, trek/grunt-neuter, and trek/website.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h3>Statistics</h3>
        <p>
          We already know that {{ name }} engineers love commenting on issues whenever they're not pushing code but the following data sheds some light onto what they do with their open source time. In the full event stream analyzed for this report, there are a total of 1778 events recorded for {{ name }}, divided by type below:
        </p>

        <table>
          <thead>
            <tr><th>Activitiy</th><th>count</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Comments</td>
              <td>1201</td>
            </tr>
            <tr>
              <td>Pushes</td>
              <td>8871</td>
            </tr>
            <tr>
              <td>Pull Requests</td>
              <td>6</td>
            </tr>
            <tr>
              <td>New Repos</td>
              <td>12</td>
            </tr>
            <tr>
              <td>New Issues</td>
              <td>981</td>
            </tr>
          </tbody>
        </table>

        <h3>Languages</h3>
        <p>
          {{ name }} engineers have contributed to repositories in 12 languages. In particular, they seems to be pretty serious JavaScript experts. The following chart shows the number of contributions {{ name }} engineers made to repositories mainly written in JavaScript, Ruby, CSS, Shell, and Clojure.
        </p>

        <table>
          <thead>
            <tr><th>Language</th><th>count</th></tr>
          </thead>
          <tbody>
            <tr>
              <td>Ruby</td>
              <td>1201</td>
            </tr>
            <tr>
              <td>Clojure</td>
              <td>8871</td>
            </tr>
            <tr>
              <td>JavaScript</td>
              <td>6</td>
            </tr>
            <tr>
              <td>Shell</td>
              <td>12</td>
            </tr>
            <tr>
              <td>Brainfuck</td>
              <td>981</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
