<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community | {{ name }}</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/report-card.css" />
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="backstretch">
      <h1>Community | {{ name }}</h1>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>Open Sourcerers</span></h4>
        <p>
          {{name}} has {{members.length}} active contributors to open source.
          They spend a lot of time {{topActivity}} and {{secondTopActivity}}.
          {{ name }} employees are serious open source contributors
          who do a bunch in the morning and evening.

          We're pretty geeked about that! Here they are:
        </p>

        {{#each members}}
          <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="{{name}}">
            <a href="http://github.com/{{name}}">
              <img src="{{avatar name 45}}" height="45" width="45">
            </a>
          </span>
        {{/each}}
      <div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>Heavy Hitters</span></h4>
        <p>
          Among our open source contributors,
          we have some of the most active contributors
          out there in {{usage.topLanguages.length}} languages.
          That's pretty awesome.
        </p>

        <ul class="large-block-grid-4 heavy-hitter-by-language">
          {{#each usage.topLanguages}}
            <li>
              <div class="heavy-hitter">
                <i class="fa fa-star-o"></i>
                <div class="language-to-person">
                  {{language}}
                </div>
                <div class="grouponers">
                  {{#each who}}
                    <div class="avatar">
                      <img src="{{avatar username 80}}" height="80" width="80">
                    </div>
                    <div class="username">
                      <a href="http://osrc.dfm.io/{{username}}">
                        {{username}}
                      </a>
                    </div>
                  {{/each}}
                </div>
                <div class="language-percentage">
                  Top <strong>{{ceilingPercent who}}%</strong> of active developers
                <div>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>

        <h4><span>Collaboration</span></h4>
        <p>
          {{name}} engineers often collaborate with people outside {{name}},
          the most frequent {{connected_users.length}} collaborators are:
          <div>
            {{#each connected_users}}
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
         </div>
        </p>

        <h4><span>Let's be Friends</span></h4>
        <p>
          Although they don't currently work at {{ name }},
          it looks like the following {{similar_users.length}} people
          are very simlar to {{name}} engineers.
          We think they'd feel right at home here:
          <div>
            {{#each similar_users}}
              <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="{{username}}">
                <a href="http://github.com/{{username}}">
                  <img src="{{avatar username 45}}" height="45" width="45">
                </a>
              </span>
            {{/each}}
          </div>
        </p>

        <h4><span>Projects</span></h4>
        <p>
          These days, {{ name }} engineers are most actively contributing to
          {{repositories.length}} repositories.
          Following are some of the popular ones:
        </p>

        <ul class="large-block-grid-3 heavy-hitter-by-percentage">
          {{#each topRepositories}}
            {{> github-repo-card}}
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>By the Numbers</span></h4>
        <p>
        We already know that {{ name }} engineers love {{secondTopActivity}}
        whenever we're not {{topActivity}}
        but the following data sheds some light onto
        what we do with our open source time.
        In the full event stream analyzed for this report,
        there are a total of {{sumProperty usage.events 'total'}}
        events recorded for {{ name }}, divided by type below:
        </p>

        <div id="d3-activity-diagram-outlet" class="chart-outlet"></div>
        <div class="chart-table">
          <table>
            <thead>
              <tr><th>Languages</th><th>Count</th></tr>
            </thead>
            <tbody>
              {{#each usage.events}}
                <tr><td>{{type}}</td><td>{{total}}</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>

        <h4><span>Languages</span></h4>
        <p>
        {{ name }} engineers have contributed to repositories
        in {{usage.allLanguages.length}} languages.
        In particular, we are pretty serious {{topLanguage}} experts.
        The following chart shows the number of contributions
        {{ name }} engineers made to repositories
        mainly written in {{{languagesToSentence mostUsedLanguages}}}.
        </p>

        <div id="d3-language-diagram-outlet" class="chart-outlet"></div>
        <div class="chart-table">
          <table>
            <thead>
              <tr><th>Languages</th><th>Count</th></tr>
            </thead>
            <tbody>
              {{#each mostUsedLanguages}}
                <tr><td>{{language}}</td><td>{{count}}</td></tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <h4><span>Support Group</span></h4>
        <p>
          Some open source contributors go beyond the repositories
          to answer {{answerCount}} questions
          in over {{tagCount}} different tags
          on <a href="http://stackoverflow.com">Stack Overflow</a>!
        </p>

        <ul class="small-block-grid-2">
          {{#each topTags}}
          <li>
            <span class="tag">{{tag}}</span>
            {{answerTotal}} answered (with {{scoreTotal}} points and {{acceptedPercent}}% accepted)
          </li>
          {{/each}}
        </ul>

        <p>
          Many have been rewarded for their efforts with {{badgeCount}} badges!
          Here are some of the top badge earners.
        </p>

        <ul class="small-block-grid-3">
          {{#each topBadgesEarners}}
          <li>
            <a href="http://stackoverflow.com/users/{{userId}}">
              <img src="{{profileImage}}" height="45" width="45">
              {{name}}
            </a>
            <span class="badge1"></span><span class="badgecount">{{badge_counts.gold}}</span>
            <span class="badge2"></span><span class="badgecount">{{badge_counts.silver}}</span>
            <span class="badge3"></span><span class="badgecount">{{badge_counts.bronze}}</span>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h4><span>Talks</span></h4>
        <p>
          {{name}} engineers love sharing their knowledge
          and sparkling with the larger world.
          You can find many of us at your favorite conferences and meetups.
          These {{talks.length}} speakers from Groupon have delivered
          {{sumProperty talks 'count'}} talks recently:
        </p>


        <ul class="small-block-grid-3">
          {{#each talks}}
            <li>
              <div class="heavy-hitter">
                <h3>{{count}} Talks</h3>
                <a href="http://lanyrd.com/{{username}}">
                  <img src="{{avatar username 80}}" height="80" width="80">
                  <div>{{username}}</div>
                </a>
            </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        handcrafted with <span class="heart">&#x2764;</span> by
          <a href="http://twitter.com/trek">trek</a>,
          <a href="http://twitter.com/abedra">aaron</a>,
          <a href="http://twitter.com/EndangeredMassa">sean</a>,
          and <a href="http://twitter.com/tundal45">ashish</a>.
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation/foundation.js"></script>
    <script src="js/foundation/foundation.tooltip.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
